---
import BlogPost from "../../layouts/BlogPost.astro";


import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: {
            slug: post.slug
        },
        props: {
            post
        },
    }))
}

const post: CollectionEntry<'blog'> = Astro.props.post;

const { Content,  } = await post.render();
---

<BlogPost title={post.data.title} pageType="article" seoImage={`/og/${post.slug}.png`}>
    <div class="">
        <article class="prose dark:prose-invert max-w-none">
            <div class="text-3xl font-bold mb-4">{post.data.title}</div>
            <Content />
        </article>
    </div>
</BlogPost>