<!doctype html>
<html lang="en">
  <head></head>
  <body>
    This is a blog page
    <script
      defer
      data-domain="joshuaakanetuk.com"
      src="https://plausible-analytics-production-1637.up.railway.app/js/script.js"
    ></script>
  </body>
</html>
