---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import { ghostClient } from '../../lib/ghost';
const posts = await ghostClient.posts
    .browse({
        limit: 'all',
    })
    .catch((err) => {
        console.error(err);
    });
---

<BaseLayout>
  <div class="text-white flex flex-col gap-4">
    <div>
      <div class="text-3xl font-bold mb-4">Blog Posts:</div>
      <ul class="flex flex-col gap-4">
        {
          posts.map((post) => (
            <li>
              <a class=" text-lg " href={`/blog/${post.slug}`}>
                {post.title}
              </a>
              <div class="text-sm text-gray-400">
                {new Date(post.published_at).toLocaleDateString(undefined, {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
