---
// Components

import Product from "../components/product.astro";
import { PRODUCTS } from "../const";

// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Articles
const articles = [
  {
    title: "Why Joshua Chose Thinkful to Become a Remote Developer",
    site: "Course Report",
    url: "https://www.coursereport.com/blog/why-joshua-chose-thinkful-to-become-a-remote-developer",
    date: "2020-11-11",
  },
];
---

<BaseLayout>
  <div>
    <div class="mb-4">
      <div class="font-bold text-3xl">Joshua Akan-Etuk</div>
      <div class="font-regular text-xl">
        Product-focused full stack developer. Born + Raised in RVA. Available
        for freelance.
      </div>
      <div class="font-regular text-lg">
        Typescript, Node, React, Javascript, Java, Python
      </div>
      <!-- <div class="font-regular text-lg mt-4">
        Say Hi! <a class="underline" href="mailto:joshuaakanetuk@gmail.com"
          >joshuaakanetuk@gmail.com</a
        >
      </div> -->
    </div>

    <!-- Product -->
    {PRODUCTS.map((product) => <Product {...product} />)}

    <!-- Articles -->
    <div class="mb-4">
      <div class="text-3xl font-bold mb-4">Featured In</div>
      <ul class="flex flex-col gap-4">
      {
        articles.map((article) => (
          <li>
            <a class=" text-lg " href={article.url}>
              {article.title}
            </a>
            <div class="text-sm text-gray-400">
              {new Date(article.date).toLocaleDateString(undefined, {
                month: "long",
                day: "numeric",
                year: "numeric",
              })}
            </div>
          </li>
        ))
      }
      </ul>
    </div>
  </div>
  <!-- Cal floating-popup embed code begins -->
  <script type="text/javascript">
    (function (C, A, L) {
      let p = function (a, ar) {
        a.q.push(ar);
      };
      let d = C.document;
      C.Cal =
        C.Cal ||
        function () {
          let cal = C.Cal;
          let ar = arguments;
          if (!cal.loaded) {
            cal.ns = {};
            cal.q = cal.q || [];
            d.head.appendChild(d.createElement("script")).src = A;
            cal.loaded = true;
          }
          if (ar[0] === L) {
            const api = function () {
              p(api, arguments);
            };
            const namespace = ar[1];
            api.q = api.q || [];
            typeof namespace === "string"
              ? (cal.ns[namespace] = api) && p(api, ar)
              : p(cal, ar);
            return;
          }
          p(cal, ar);
        };
    })(
      window,
      "https://cal-production-1777.up.railway.app/embed/embed.js",
      "init"
    );
    Cal("init", "30min", {
      origin: "https://cal-production-1777.up.railway.app",
    });

    Cal.ns["30min"]("floatingButton", {
      calLink: "joshuaakanetuk/30min",
      calOrigin: "https://cal-production-1777.up.railway.app",
      buttonText: "Let's Chat!",
      hideButtonIcon: false,
    });
    Cal.ns["30min"]("ui", {
      styles: { branding: { brandColor: "#000000" } },
      hideEventTypeDetails: false,
      layout: "month_view",
    });
  </script>
  <!-- Cal floating-popup embed code ends -->
</BaseLayout>
