---
// import BaseHead from '../components/BaseHead.astro';
import Footer from "../components/footer.astro";
import { Image } from "astro:assets";
import { SEO } from "astro-seo";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const { title, description, pageType, seoImage, pageURL, publishedTime, tags, author } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Thanks to kevinzunigacuellar for the OG Image Template -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href={import.meta.env.BASE_URL + "favicon.png"} rel="icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400,300&display=swap"
      rel="stylesheet"
    />
    <meta content={title ??"Joshua Akan-Etuk"} name="title" />
    <SEO
      title={title ?? "Joshua Akan-Etuk"}
      description={description ??
        "Product-focused full stack developer. Available for freelance."}
      openGraph={{
        basic: {
          title: title ?? "Joshua Akan-Etuk",
          type: pageType ?? 'website',
          image: seoImage ?? import.meta.env.BASE_URL + "graph.png",
        },
        article: {
          publishedTime: publishedTime,
          tags: tags,
          authors: [author]
        }
      }}
      twitter={{
        creator: '@ujukauboi',
        title: title ?? "Joshua Akan-Etuk",
        description: description ??
        "Product-focused full stack developer. Available for freelance.",
        card: "summary_large_image",
        image: seoImage ?? import.meta.env.BASE_URL + "graph.png",
        site: '@ujukauboi',
        imageAlt: "Preview image for" + title,
      }}
    />
  </head><body>
    <div class="h-full text-white flex flex-col px-8 md:px-16 lg:px-32 gap-4">
      <!-- Header -->
      <header>
        <nav
          class="py-8 flex flex-row gap-x-5 font-regular items-center text-lg justify-between"
        >
          <a href="/">
            <Image width={32} height={32} src={"/logo.png"} alt="LOGO" /></a
          >
          <a class={currentPath === "blog" ? "font-bold" : ""} href="/blog"
            >Blog</a
          >
        </nav>
      </header>
      <slot />
    </div>
    <script
      defer
      data-domain="joshuaakanetuk.com"
      src="https://plausible-mc884c0.trymanager.co/js/script.js"
    ></script>
    <Footer />
    <style>
      * {
        box-sizing: border-box;
      }
      html,
      body {
        width: 100%;
        /* height: 100%; */
        background-color: #181818;
        font-family: "Satoshi", "sans-serif";
        font-weight: 100;
      }
    </style>
  </body>
</html>
