---
// import BaseHead from '../components/BaseHead.astro';
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title ?? "Joshua Akan-Etuk"}</title>
    <link href="/assets/favicon.png" rel="icon" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400,300&display=swap"
      rel="stylesheet"
    />
    <meta content="Joshua Akan-Etuk" name="title" />
    <meta
      content={description ?? "Product-focused full stack developer."}
      name="description"
    />
    <!-- Open Graph / Facebook -->
    <meta content="website" property="og:type" />
    <meta content="https://joshuaakanetuk.com/" property="og:url" />
    <meta content="Joshua Akan-Etuk" property="og:title" />
    <meta content={description ?? "Product-focused full stack developer."} property="og:description" />
    <meta content="https://joshuaakanetuk.com/assets/graph.png" property="og:image" /><!-- Twitter -->
    <meta content="summary_large_image" property="twitter:card" />
    <meta content="https://joshuaakanetuk.com/" property="twitter:url" />
    <meta content="Joshua Akan-Etuk" property="twitter:title" />
    <meta content={description ?? "Product-focused full stack developer."} property="twitter:description" />
  </head>
  <body>
    <slot />
  </body>
</html>
