---
import BaseLayout from "./BaseLayout.astro";

const { title, description, pageType, seoImage, pageURL } = Astro.props;
---

<BaseLayout
  title={title}
  description={title}
  pageType={pageType}
  seoImage={seoImage}
>
  <div>
    <slot />
  </div>
</BaseLayout>
